@import "./_fonts.scss";

body {
  .app-wrp {
    min-height: 100vh;
    display: flex;
    font-family: Roboto, "Open-Sans", "Arial";
  }
  * {
    outline: none;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
}
